.login-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: #eee;
  border-radius: 5px;
}

#sign-up {
  margin: 0;
  margin-bottom: 1em;
}

.login-form label {
  width: 100%;
  display: inline-block;
}

.login-form input {
  width: 50%;
  height: 3em;
  margin: 1em;
  display: inline-block;
  border-radius: 3px;
}

.login-form button {
  width: 50%;
  height: 3em;
  color: black;
  font-weight: 800;
  border-radius: 3px;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-device-width : 768px) {
  .login-form {
    width: 30%;
    height: 500px;
  }
}
