.learn {
  border: 3px ridge gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
}

.learn h3 {
  border: none;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
}

.learn p {
  text-align: center;
}

.current-word {
  font-size: 3em;
}

.learn form {
  text-align: center;
  margin: 1em;
}

.learn input {
  width: 50%;
  border-radius: 3px;
  margin: 0.5em;
}

#submit-button {
  font-weight: 600;
  border-radius: 5px;
  height: 2.2em;
}

#next-button {
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  border-radius: 5px;
  font-weight: 600;
  padding-left: 1em;
  padding-right: 1em;
}

.learn form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback h2 {
  font-size: 1.2em;
}

@media only screen and (min-device-width : 768px) {
  .learn {
    width: 30%;
  }
}
